[defaults]
collections_path=./collections
roles_path=./roles

[galaxy]
server_list = ah,galaxy

[galaxy_server.ah]
# Grab a token at https://console.redhat.com/ansible/automation-hub/token
# Then define it using ANSIBLE_GALAXY_SERVER_AH_TOKEN=""

url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
#token="{{ hub_token }}"
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3MzMyMzUzNjAsImp0aSI6ImExNDlmMDI5LTk4YTItNDI1NS05NDNjLWZjMWNiMDcwOWE4OCIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpjYmVhdmVyQHJlZGhhdC5jb20iLCJ0eXAiOiJPZmZsaW5lIiwiYXpwIjoiY2xvdWQtc2VydmljZXMiLCJub25jZSI6IjI2YzI4Mjk4LWM2NjEtNGNkMS05OTBhLTFlZjA5MWExMTg2YyIsInNpZCI6IjkxMjA0ZWFmLWY1M2QtNGViOS1iYTkyLTdiMWYzNWNkYmQyNCIsInNjb3BlIjoib3BlbmlkIGJhc2ljIGFwaS5pYW0uc2VydmljZV9hY2NvdW50cyByb2xlcyB3ZWItb3JpZ2lucyBjbGllbnRfdHlwZS5wcmVfa2MyNSBvZmZsaW5lX2FjY2VzcyJ9.ngqEtELEA1N7nWDuPC-VFXSuLRUNDruMZMwte1-stBYY6HaD__nHdfF6s9oLrVHd9wZ0X5-SFt2MJVFLAdTlog

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
