{{ ansible_managed | comment }}
{{ "system_role:keylime_server" | comment(prefix="", postfix="") }}

[registrar]
tls_dir = {{ keylime_server_registrar_tls_dir }}
server_key = {{ keylime_server_registrar_server_key }}
server_key_password = {{ keylime_server_registrar_server_key_passphrase }}
server_cert = {{ keylime_server_registrar_server_cert }}
trusted_client_ca = {{ keylime_server_registrar_trusted_client_ca }}
